* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* ......... the header section.......... */
header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 15px;
}

.logo {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
}
.deskstopNav{
  display: none;
}

/* ............headline section............. */
.headline {
  background: #1c1a19;
  color: #fff;
  padding: 130px 25px 145px;
  background-image: url(./Images/Group.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Crete Round', sans-serif;
  color: #ff6b00;
  letter-spacing: 0.37px;
  font-size: 56px;
  font-weight: 400;
  width: 328px;
  line-height: 64px;
}

span {
  height: 27px;
  font-size: 24px;
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 10px 0;
  width: px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 180px;
  font-size: 20px;
  margin-top: 25px;
}

/* .........About myself section........... */
.About-myself {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.Recent-work {
  margin-top: 80px;
}

.Recent {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #1c1a19;
  height: 83px;
}

.line {
  border: 1px solid #212121;
}

.about-img {
  height: 237px;
  margin-top: 50px;
}

.Multi-Post-Heading {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.Multi-Post-stories {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  margin-top: 12px;
  line-height: 24px;
}

.Multi-Post-ul {
  width: 100%;
  margin-bottom: 15px;
}

.Multi-Post-li {
  border: 1px solid #8993a4;
  padding: 9px 12px;
  margin-right: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.Multi-Post-project {
  align-items: center;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  border-style: none;
}

/* ...........work section.......... */
.work-container {
  width: 90%;
  margin: auto;
  background-color: #fff;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.art-container {
  background-image: url("/Images/Img\ Placeholder\ \(1\).png");
}

.profesional-Art-heading {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  width: 295px;
  height: 81px;
  line-height: 44px;
  color: #fff;
  padding: 80px 0 0 10px;
}

.profesional-Art-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  font-family: 'Inter', sans-serif;
  width: 295px;
  height: 87px;
  color: #fff;
  margin-bottom: 0;
  padding-left: 10px;
}

.profesional-Art-ul {
  padding-left: 10px;
  width: 70%;
  margin-top: 0;
}

.profesional-Art-li {
  font-family: 'Inter', sans-serif;
  font-weight: 500px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.24);
}

a {
  display: block;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.profesional-Art-btm {
  width: 100%;
  height: 48px;
  background: #ff6b00;
  font-size: 17px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 22px;
  border-style: none;
}

a.profesional-Art-btm {
  display: flex;
  align-items: center;
}

/* ..........footer section.......... */
.about {
  width: 100%;
  background: #1c1a19;
}

h2 {
  color: #ff6b00;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  width: 327px;
  height: 79px;
  padding: 120px 0 0 24px;
  font-family: 'Crete Round', sans-serif;
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  width: 327px;
  height: 148px;
  padding-left: 24px;
}

.footer-btm {
  width: 161px;
  padding: 12px;
  gap: 10px;
  margin-top: 0;
  background: #ff6b00;
  color: #fff;
  margin-left: 24px;
  border: none;
}

.footer-img {
  padding-left: 212px;
}

.footer-hr {
  border: 1px solid #fff;
  width: 90%;
  margin: auto;
}

.footer-list {
  text-align: center;
  padding-top: 100px;
}

.footer-heading {
  font-size: 22px;
  font-weight: 700px;
}

.footer-ul {
  display: inline-block;
}

.footer-li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  padding-bottom: 32px;
}

.work {
  text-align: center;
}

.skill {
  text-align: center;
  padding-bottom: 50px;
}

/* ..........btm hover state............ */

.button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  font-weight: 700;
}

.button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

/* .......footer section........... */
.footer-section {
  text-align: center;
}

.footer-p {
  margin: 120px 0 73px 0;
  padding: 0 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  height: 20px;
  width: 90%;
  line-height: 24px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #726f6e;
  padding: 0 0 12px 12px;
  outline: none;
}

textarea {
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3c3a39;
  background: #fbf8f7;
  border: hidden;
  padding: 12px;
  outline: none;
}

.form-button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 24px;
  line-height: 24px;
  font-size: 17px;
}

.footer-line {
  margin-top: 124px;
  margin-bottom: 25px;
  border: 1px solid #505f79;
  width: 99%;
  background: #dfe1e6;
}

.footer-icon {
  font-size: 15px;
  margin-bottom: 23px;
  color: #505f79;
  margin-left: 20px;
}

.git {
  margin-left: 120px;
}

.footerLine {
  margin-bottom: 8px;
  border: 1px solid #212121;
  width: 130px;
  background: #0d151e;
  border-radius: 10px;
  text-align: center;
  margin-left: 125px;
}

@media (min-width: 768px) {
/* .............header section.......... */
.dropdown {
  display: none;
}
.deskstopNav {
  display: block;

}
.deskstop-ul {
  margin-right: 250px;
  
}
.deskstop-li {
 margin-right: 32px;
 color: #fff;
 font-size: 18px;
 font-weight: 600;
 line-height: 20px;
 font-family: 'Inter', sans-serif;
}
.logo {
  margin-top: 20px;
  margin-left: 140px;
}
}
